 html {
     height: 100%;
 }
 
 body {
     padding: 0px;
     margin: 0px;
     height: 100%;
     position: relative;
     font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
     overflow-y: scroll;
 }
 
 .light {
     color: red;
 }
 
 #left {
     position: fixed;
     width: 15%;
     height: 100%;
     overflow-y: scroll;
     top: 0px;
     left: 0px;
 }
 
 #left .show {
     display: flex;
     flex-direction: column;
     background-color: aliceblue;
     width: 100%;
 }
 
 #left .show .item {
     border-bottom: 1px solid red;
     padding: 20px 0px;
     width: 100%;
 }
 
 #left .moreshare {
     height: 50px;
     display: block;
     background-color: beige;
     text-align: center;
 }
 
 #sharewrap {
     position: absolute;
     display: none;
     background-image: url(../imgs/bg2.jpeg);
     background-size: cover;
     word-wrap: break-word;
     word-break: break-all;
     z-index: 100;
 }
 
 #sharewrap #sharepanel {
     float: left;
     width: 40%;
     padding: 0 5%;
 }
 
 #sharewrap #sharepanel section {
     border-bottom: 1px solid red;
     padding: 15px;
 }
 
 #sharewrap #sharepanel section a {
     text-decoration: none;
 }
 
 #sharewrap #sharepanel section div {
     margin: 10px 0px;
 }
 
 #sharewrap #sharepanel section:hover {
     background-color: rgba(0, 154, 97, 0.08);
 }
 
 #sharewrap #shareconfig {
     float: left;
     width: 40%;
     padding: 0 5%;
 }
 
 #sharewrap #shareconfig table {
     margin-bottom: 100px;
 }
 
 #sharewrap #shareconfig table tr td {
     padding: 10px 0px;
 }
 
 #sharewrap #shareconfig table tr:not(:first-child) td:first-child {
     width: 25%;
 }
 
 #sharewrap .btns {
     height: 100px;
     line-height: 100px;
 }
 
 #sharewrap .pagebtn {
     display: block;
     float: left;
     width: 40px;
     height: 30px;
     background-color: white;
     text-align: center;
     line-height: 30px;
     margin: 0px 5px;
     cursor: pointer;
 }
 
 #sharewrap .close {
     position: absolute;
     right: -30px;
     top: 50%;
     text-align: center;
     font-size: 2em;
     display: block;
     height: 60px;
     width: 60px;
     line-height: 60px;
     cursor: pointer;
     border-radius: 50%;
     background-color: #dde3e9;
 }
 
 #main {
     width: 50%;
     float: left;
     margin-top: 20px;
     margin-left: 20%;
 }
 
 #main table {
     width: 80%;
     height: 30px;
     margin: 0 auto;
 }
 
 #main table tr td:nth-child(1) {
     width: 40%;
 }
 
 #main input {
     width: 100%;
     height: 30px;
 }
 
 #main textarea {
     width: 100%;
     height: 100px;
 }
 
 #main table tr {
     height: 40px;
 }
 
 #main input textarea {
     outline: none;
 }
 
 #makeurl {
     display: block;
     width: 200px;
     height: 200px;
     position: fixed;
     right: 0px;
     bottom: 10px;
     font-size: 80%;
     text-align: center;
     background-image: url("../imgs/splider.jpg");
     background-size: cover;
 }
 
 #makeurl .shareBtn {
     display: block;
     width: 50px;
     height: 50px;
     border-radius: 100%;
     background-color: black;
     background: radial-gradient(circle at 100px 100px, #5cabff, #000);
     position: absolute;
     top: 100px;
     left: 20px;
 }
 
 #loginOrgister {
     width: 20%;
     float: left;
     margin-left: 5%;
     z-index: 100;
     margin-top: 2%;
 }
 
 .splider_img {
     position: absolute;
     right: 0px;
     top: 200px;
     width: 20%;
 }
 
 .forkme {
     position: absolute;
     top: 0;
     right: 0;
     border: 0;
 }
 
 body::-webkit-scrollbar {
     display: none;
 }
 
 #left::-webkit-scrollbar {
     display: none;
 }
 
 #sharepanel::-webkit-scrollbar {
     display: none;
 }
 
 #shareconfig::-webkit-scrollbar {
     display: none;
 }
 
 @media all and (max-width:700px) {
     #left {
         display: none;
     }
     #loginOrgister {
         display: none;
     }
     #makeurl {
         display: none;
     }
     #main {
         width: 90%;
         margin: 30px auto;
         float: none;
     }
 }